
DATA_607/M13_Big_Data_and_Cloud_Computing/10_Lab_Big_Data/.quarto/

DATA_607/M9_Web_Scraping_and_APIs/08_Lab_Web_Scraping/.quarto/
.Rproj.user

*.Rproj
SPS_MS_DS.Rproj

DATA_624/Alex_Ptacek_Chapter_02_Exercises_files/

DATA_624/rsconnect/documents/Alex_Ptacek_Chapter_02_Exercises.qmd/rpubs.com/rpubs/Document.dcf

DATA_624/Ch_02_Exercises/rsconnect/

DATA_624/Ch_02_Exercises/Alex_Ptacek_Chapter_02_Exercises_files/

.vscode/

DATA_602/data.xlsx

DATA_602/ex13_plot.png

DATA_602/pythontest.py

DATA_602/Rtest.rmd

DATA_602/Untitled-1.ipynb

DATA_624/Final_Project/rsconnect/

DATA_624/Final_Project/Final_Tech_Report.html

DATA_624/Final_Project/StudentData.xlsx

DATA_624/Final_Project/StudentEvaluation.xlsx

DATA_624/Midterm_Projects/Part_A/Alex_Ptacek_Part_A_624_files/

DATA_624/Midterm_Projects/Part_A/rsconnect/

DATA_624/Midterm_Projects/Part_A/Alex_Ptacek_Part_A_624.html
